{{- $title := .Get "title" | default "Code Output" -}}
{{- $hasImages := findRE `!\[.*?\]\(.*?\)` .Inner -}}

<div class="code-container">
    <button class="code-output-toggle" onclick="toggleOutput(this)">👉 Show Output</button>
    <div class="code-output">
        <div class="output-content">
            {{- if $hasImages -}}
                {{ .Inner | markdownify | safeHTML }}
            {{- else -}}
                {{ .Inner | safeHTML }}
            {{- end -}}
        </div>
    </div>
</div>
